@import './colors';
@import './components';
@import './mixins';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}
.dg.main.a {
	display: none;
}

.header {
	&__box-bg {
		position: relative;
		height: 100vh;
		background-color: #000;

		overflow: hidden;
	}
	&__box {
		color: $pure-white;
		font-size: 1.8rem;
	}
	&__box-heading {
		position: absolute;
		display: flex;
		top: 0;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-weight: 300;
		overflow: hidden;
	}
	&__box-heading-title {
		font-size: 2.7rem;

		span {
			display: inline-block;
		}
	}
	&__box-heading-text {
		animation: textLoader 0.3s 1.8s reverse both;
	}

	&__box-link {
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: solid 2px $pure-white;
		padding: 0.5em 1em;
		background-color: transparent;
		color: $pure-white;
		text-decoration: none;
		font-style: none;
		text-align: center;
		animation: textLoader 0.6s 2.5s reverse both;
		z-index: 1;
		&:hover {
			color: $blueHover;
			border-color: $blueHover;
		}
	}
}
//NAV
.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.nav {
	z-index: 10;
	&__burger-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;

		border: 1px solid transparent;
		cursor: pointer;
		z-index: 100;
		&:focus {
			outline: none;
			border: solid 1px rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}
		&:hover {
			.nav__burger-btn-bars::after,
			.nav__burger-btn-bars::before {
				width: 100%;
			}
		}
		&-box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&-bars,
		&-bars::after,
		&-bars::before {
			@include burgerBtn;
		}
		&-bars--color,
		&-bars--color::after,
		&-bars--color::before {
			background-color: black;
		}

		&-bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 60%;
			}
			&::before {
				top: 27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}

	&__items {
		padding-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		transform: translateX(100%);
		background-color: $navBg;
		border-bottom: solid 3px $blue;
		z-index: 10;
	}
	&__items--active {
		transition: 0.5s cubic-bezier(0.65, 0.65, 0.36, 1);
		transform: translate(0);
	}
	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		text-decoration: none;
		color: $pure-white;
		font-size: 2.8rem;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background-color: $blueHover;
			transition: transform 0.3s;
			transform: scaleY(0);
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
		&:hover {
			color: $blueHover;
		}
	}
	&__item.active {
		color: $blue;
	}
}

//ABOUT
.about {
	overflow: hidden;
	background-color: $dark;
	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $grey;
		padding: 2em 1em 2em 1em;
		box-shadow: 3px 3px 10px #00000077;
	}
	&__box {
		margin: 0.5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $pure-white;
	}
	&__box-img {
		width: 90%;
		max-width: 300px;
		height: 100%;
		margin-bottom: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #00000077;
		overflow: hidden;
	}
	&__box-img-item {
		width: 100%;
		object-fit: cover;
	}
	&__box-title {
		text-transform: uppercase;
		margin-bottom: 2em;
		font-size: 3rem;
		font-weight: 400;
		span {
			font-size: 4rem;
			vertical-align: -5%;
			color: $blue;
			font-weight: bold;
		}
	}
	&__box-text {
		margin-bottom: 2em;
		font-size: 2rem;
		font-weight: 300;
		text-align: justify;
		&:last-child {
			align-self: flex-start;
		}
		span {
			font-size: 2.4rem;
			font-weight: bold;
		}
	}
}

.skills {
	position: relative;
	overflow: hidden;
	@include heroImage;
	background-image: $blue-gradient, url('../img/skills_640.jpg');
	.section-heading {
		color: $pure-white;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
	}
	&__box {
		display: flex;
		flex-direction: column;
		background-color: $pure-white;
		color: $grey;
		margin-bottom: 1em;
		padding: 1em;
		box-shadow: 5px 5px 10px #2e2e2e2e;
	}
	&__box-title {
		font-size: 2em;
		margin-bottom: 0.5em;
		margin-top: 0.2em;
	}

	&__box-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: center;
	}
	&__box-item {
		margin: 1em;
		flex-basis: 80px;

		img {
			width: 100%;
		}
		p {
			text-align: center;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

//project
.projects {
	overflow: hidden;
	background-color: $dark;
	&__filters-box {
		display: flex;
		background-color: $dark;
		border-bottom: solid 3px $blue;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		height: 80px;
		margin-bottom: 4em;
	}
	&__filter {
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		flex-basis: 25%;
		padding: 0.5em 0.5em;
		color: $pure-white;
		transition: background-color 0.3s, color 0.3s;

		&--active {
			background-color: $blue;
			color: $grey;
		}
	}
	&__cards-boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	&__card-box {
		position: relative;
		margin: 1em 0;
		min-width: 320px;

		height: 500px;
		color: $dark;
		text-align: center;
		perspective: 1000px;
		&:hover {
			.projects__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.projects__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}
	}
	&__card-img {
		padding: 2em;
		height: 100%;
		border-radius: 8px;
		background-size: cover;
		background-image: url('../img/projekttestowy.jpg');
		transition: transform 1s, opacity 1s;
	}
	&__card-img-title {
		font-size: 2.8rem;
	}
	&__card-img-info {
		background-color: $pure-white;
		padding: 0.5em 1em;
		border-radius: 8px;
		box-shadow: 3px 3px 3px 5px #2e2e2e2e;
		position: absolute;
		bottom: 30px;
		right: 30px;
		font-size: 1.8rem;
	}

	&__card-info {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-image: $blue-gradient;
		border-radius: 8px;
		transform: rotateY(180deg);
		opacity: 0;
		transition: transform 1s, opacity 1s;
	}

	&__card-info-title {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 1.2em;
		font-size: 2.8rem;
	}
	&__card-info-list {
		margin: 0 auto;
		width: 70%;
		list-style: none;
		&-item {
			padding: 1em;
			font-size: 1.4rem;
			border-bottom: 1px solid $pure-white;
		}
	}
	&__card-info-btn {
		position: absolute;
		left: 10%;
		bottom: 1em;
		padding: 1em;
		border-radius: 8px;
		width: 30%;
		border: none;
		cursor: pointer;
		background-color: #00dd00;
		&--source {
			left: auto;
			right: 10%;
		}
		&:hover {
			background-color: $blue;
		}
	}
}

// education

.education {
	background-image: $blue-gradient, url('../img/education_640.jpg');
	&__box-items {
		display: flex;
		flex-direction: column;
	}
	&__box-item {
		margin-top: 0.5em;

		p {
			font-weight: bold;
		}
	}
	&__box-text {
		margin-top: 0.5em;
	}
}

.experience {
	background-image: none;
	background-color: $dark;
	&__box-items {
		display: flex;
		flex-direction: column;
	}
	&__box-item {
		margin-top: 0.5em;

		p {
			font-weight: bold;
		}
	}
	&__box-text {
		margin-top: 0.5em;
	}
}

.contact {
	position: relative;
	overflow: hidden;
	@include heroImage;
	background-image: $blue-gradient, url('../img/contact_640.jpg');
	.section-heading {
		color: $pure-white;
	}
}
.contact-box {
	display: flex;
	margin-bottom: 1rem;
	flex-wrap: nowrap;
	&__icon{
		width: 45px;
		height: 45px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__details{
		color: $grey;
		margin-left: 2rem;
		display: flex;
		align-items: center;
		a{
			text-decoration: none;
			font-style: none;
		}

	}
	}

// media
@media (min-width: 576px) {
	.header {
		&__box {
			font-size: 2.5rem;
		}
		&__box-heading-title {
			font-size: 4.8rem;
			margin-bottom: 0.3em;
		}
	}
	.projects {
		&__filter {
			font-size: 2.8rem;
		}

		&__card-box {
			width: 500px;
		}
	}
	.education {
		.text {
			flex-basis: 50%;
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__box-bg {
			height: calc(100vh - 80px);
		}
		&__box {
			font-size: 3rem;
		}

		&__box-heading-title {
			font-size: 6rem;
		}
	}
	.nav {
		position: sticky;
		top: 0;

		&__burger-btn {
			display: none;
		}

		&__items {
			position: relative;
			padding: 0;
			transform: translate(0);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			height: 80px;
			z-index: 10;
		}
		&__item {
			margin: 0;
			padding: 0 0 0 0.2em;
		}
	}
	.about {
		&__boxes {
			justify-content: space-around;
			align-items: flex-start;
			flex-direction: row;
		}
		&__box-img {
			flex-grow: 1;
		}

		&__box-heading {
			flex-grow: 2;
			max-width: 50%;
		}
	}
}

@media (min-width: 992px) {
	.header {
		.header {
			&__box-heading-title {
				font-size: 6rem;
			}
			&__box-heading-text {
				font-size: 4rem;
			}
			&__box-heading-load {
				font-size: 3rem;
			}
		}
	}
	.skills {
		background-image: $blue-gradient, url('../img/skills1920.jpg');
	}
	.education {
		background-image: $blue-gradient, url('../img/education_1920.jpg');
	}
	.experience {
		background-image: none;
	}
	.contact {
		background-image: $blue-gradient, url('../img/contact_1920.jpg');
	}
}
