$pure-white: #eeeeee;
$blue: #00adb5;
$blue: #06ced8;

$blueHover: #00f2ff;
$dark: #181c22;
$grey: #393e46;
$navBg: #101215;
$blue-gradient: linear-gradient(45deg, rgba(13, 50, 58, 0.6), rgba(6, 44, 58, 0.542));
