@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 5px;
	background-color: #fff;
	content: '';
	transition: width 0.3s;
}

@mixin heroImage() {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin heroImage() {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
